<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" >


	<context:component-scan base-package="com.renatodelgaudio.awsupdate" />

	<aop:aspectj-autoproxy />

	<bean id="loggerAspect" class="com.renatodelgaudio.awsupdate.LoggerAspect"/>
	
	<bean id="prop"
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>file:${INSTALL_DIR}/aws.properties</value>
			</list>
		</property>
	</bean>

	<bean id="recordService" name="recordService" class="com.renatodelgaudio.awsupdate.SimpleRecordService" />
	<bean id="config" name="config" class="com.renatodelgaudio.awsupdate.PropertyConfig" />

	<!-- Main implementation bean -->
	<bean id="simpleUpdater" name="simpleUpdater"
		class="com.renatodelgaudio.awsupdate.SimpleUpdater" />
		
	<bean id="mailer" name="mailer" class="com.renatodelgaudio.awsupdate.Mailer" />


	<!-- COMMON -->

	<import resource="common-config.xml" />


</beans>
